<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h1>메인페이지 입니다</h1>

    {% if userName %}
    <h2>환영합니다. {{userName}}</h2>
    <button class = 'logoutBtn' onclick="window.location.href='/member/logout'">로그아웃</button>
    <button class = 'modifyInfoBtn' onclick="window.location.href='/member/modify/info'">회원정보 수정</button>
    <button class = 'modifyGenreBtn' onclick="window.location.href='/member/modify/genre'">감정별 장르 수정</button>
    
    {% else %}
    <h2>사이트를 이용하려면 로그인하세요.</h2>
    <button class = 'loginBtn' onclick="window.location.href='/member/login'">로그인</button>
    <button class = 'registerBtn' onclick="window.location.href='/member/register'">회원가입</button>

    {% endif %}
</body>
<script>
</script>
</html>