<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\assets\css\style.css">
    <title>회원가입</title>
</head>
<body class="main">
    <div class = "main">
        <div>
            <h1>회원가입</h1>
            <h2>아이디</h2>
            <span><input type="text" id = "userId" placeholder="아이디를 입력하세요"></span>
    
            <h2>패스워드</h2>
            <span><input type="password" id = "userPw" placeholder="패스워드를 입력하세요"></span>
    
            <h2>닉네임</h2>
            <span><input type="text" id = "userName" placeholder="닉네임을 입력하세요"></span>

            <h2>성별</h2>
            <span><input type="text" id = "userSex" placeholder="성별을 입력하세요 남자:1, 여자:2"></span>

            <br>
            <br>
        </div>
            
            <button id="btnRegister" onclick="register()">회원가입</button>

        <button class = 'mainBtn' onclick="window.location.href='/'">메인페이지</button>
        
    </div>
    

</body>

<script>
    async function register() {
   
    var userId = document.querySelector("#userId").value;
    var userPw = document.querySelector("#userPw").value;   
    var userName = document.querySelector("#userName").value;   
    var userSex = document.querySelector("#userSex").value;  


    let urlParams = {
        userId: userId,
        userPw: userPw,
        userName: userName,
        userSex: userSex,
        };
    
    let urlParamsjson = JSON.stringify(urlParams)

    let fetchOptions = {
            method: "POST",
            body: urlParamsjson,
        }
    
        let response = await fetch("/member/register", fetchOptions);
        console.log(response);
        let data = await response.json();
        if( data.result == "success" ){
        alert('회원가입을 축하합니다. 로그인 페이지로 이동합니다.');
        window.location.href="/member/login";
        }else{
        alert("회원가입에 실패했습니다.");
        alert(data.result)
        window.location.href="/member/register";
        }
    }
</script>
</html>