<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\assets\css\style.css">
    <title>회원가입</title>
</head>
<body class="main">
    <div class = "main">
        <div>
            <h1>감정 별 장르 수정</h1>
            <br></br>
            <div>감정에 따른 장르를 입력 (중복 선택 가능)</div>

            <h2>화남</h2>
            <input type="checkbox" name="anger" value="genre1">클래식
            <input type="checkbox" name="anger" value="genre2">재즈
            <input type="checkbox" name="anger" value="genre3">팝
            <input type="checkbox" name="anger" value="genre4">트로트
            <input type="checkbox" name="anger" value="genre5">아이돌
            <input type="checkbox" name="anger" value="genre6">락
            <input type="checkbox" name="anger" value="genre7">발라드
            <input type="checkbox" name="anger" value="genre8">게임음악
            <input type="checkbox" name="anger" value="genre9">힙합
            <input type="checkbox" name="anger" value="genre10">기타

            <h2>무서움</h2>
            <input type="checkbox" name="fear" value="genre1">클래식
            <input type="checkbox" name="fear" value="genre2">재즈
            <input type="checkbox" name="fear" value="genre3">팝
            <input type="checkbox" name="fear" value="genre4">트로트
            <input type="checkbox" name="fear" value="genre5">아이돌
            <input type="checkbox" name="fear" value="genre6">락
            <input type="checkbox" name="fear" value="genre7">발라드
            <input type="checkbox" name="fear" value="genre8">게임음악
            <input type="checkbox" name="fear" value="genre9">힙합
            <input type="checkbox" name="fear" value="genre10">기타

            <h2>행복</h2>
            <input type="checkbox" name="happiness" value="genre1">클래식
            <input type="checkbox" name="happiness" value="genre2">재즈
            <input type="checkbox" name="happiness" value="genre3">팝
            <input type="checkbox" name="happiness" value="genre4">트로트
            <input type="checkbox" name="happiness" value="genre5">아이돌
            <input type="checkbox" name="happiness" value="genre6">락
            <input type="checkbox" name="happiness" value="genre7">발라드
            <input type="checkbox" name="happiness" value="genre8">게임음악
            <input type="checkbox" name="happiness" value="genre9">힙합
            <input type="checkbox" name="happiness" value="genre10">기타

            <h2>슬픔</h2>
            <input type="checkbox" name="sadness" value="genre1">클래식
            <input type="checkbox" name="sadness" value="genre2">재즈
            <input type="checkbox" name="sadness" value="genre3">팝
            <input type="checkbox" name="sadness" value="genre4">트로트
            <input type="checkbox" name="sadness" value="genre5">아이돌
            <input type="checkbox" name="sadness" value="genre6">락
            <input type="checkbox" name="sadness" value="genre7">발라드
            <input type="checkbox" name="sadness" value="genre8">게임음악
            <input type="checkbox" name="sadness" value="genre9">힙합
            <input type="checkbox" name="sadness" value="genre10">기타

            <h2>놀람</h2>
            <input type="checkbox" name="surprise" value="genre1">클래식
            <input type="checkbox" name="surprise" value="genre2">재즈
            <input type="checkbox" name="surprise" value="genre3">팝
            <input type="checkbox" name="surprise" value="genre4">트로트
            <input type="checkbox" name="surprise" value="genre5">아이돌
            <input type="checkbox" name="surprise" value="genre6">락
            <input type="checkbox" name="surprise" value="genre7">발라드
            <input type="checkbox" name="surprise" value="genre8">게임음악
            <input type="checkbox" name="surprise" value="genre9">힙합
            <input type="checkbox" name="surprise" value="genre10">기타

            <br>
            <br>
        </div>
            
            <button id="btnRegister" onclick="genre_modify()">정보수정</button>

        <button class = 'mainBtn' onclick="window.location.href='/'">메인페이지</button>
        
    </div>
    

</body>

<script>
    async function genre_modify() {
   
    var happiness = document.getElementsByName("happiness");
    var surprise = document.getElementsByName("surprise");
    var anger = document.getElementsByName("anger");
    var sadness = document.getElementsByName("sadness");
    var fear = document.getElementsByName("fear");

    happiness = genreOneHotCoding(happiness);
    surprise = genreOneHotCoding(surprise);
    anger = genreOneHotCoding(anger)
    sadness = genreOneHotCoding(sadness)
    fear = genreOneHotCoding(fear)



    let urlParams = {
        happiness : happiness,
        surprise : surprise,
        anger : anger,
        sadness : sadness,
        fear : fear,
        };
    
    let urlParamsjson = JSON.stringify(urlParams)

    console.log(urlParamsjson)

    let fetchOptions = {
            method: "POST",
            body: urlParamsjson,
        }
    
        let response = await fetch("/member/modify/genre", fetchOptions);
        console.log(response);
        let data = await response.json();
        if( data.result == "success" ){
        alert('감정 정보가 수정 되었습니다');
        window.location.href="/";
        }else{
        alert("실패했습니다.");
        alert(data.result)
        window.location.href="/member/modify/genre";
        }
    }

    function genreOneHotCoding(emotion){
        var result = ""
        for (var i = 0; i < emotion.length; i++){
            if (emotion[i].checked){
                result += "1"
            }
            else{
                result += "0"
            }
        }

        return result

    }
</script>
</html>