name: flask-run-action
on:
  repository_dispatch:
    types: [my-event]

jobs:
  build-image:
    runs-on : ubuntu-latest
    environment: DB_connection
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - uses : actions/checkout@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: access to secrets
        run : |
          pwd
          touch .env
          echo APP_SECRETKEY = '${{ secrets.APP_SECRETKEY }}'$'\n'\
          DB_IP = '${{ secrets.DB_IP }}'$'\n'\
          DB_PORT = '${{ secrets.DB_PORT }}'$'\n'\
          DB_PW = '${{ secrets.DB_PW }}'$'\n'\
          DB_SCHEMA = '${{ secrets.DB_SCHEMA }}'$'\n'\
          DB_USER = '${{ secrets.DB_USER }}' >> .env
          pwd
          cat .env
        working-directory: "./Flask_server"
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          file: ./Flask_server/dockerfile
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-memo:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
        working-directory: ${{ env.working-directory }}
        
        
  cd-pipeline:
    needs: build-image
    name: continuos deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER_NAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "./docker-compose.yaml"
          target: "/home/dev_hwan/"
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER_NAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: "docker-compose pull && docker-compose up -d"

    
